.nav-link {
  border-radius: 0.375rem;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.active-link {
  border: 1px solid #393e46;
}

.custom-dropdown {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
